*::-webkit-scrollbar {
  width: 5px !important;
  margin: 0 2px;
}

*::-webkit-scrollbar-thumb {
  height: 3px !important;
  background-color: #4b6cb7;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  display: none;
}

.dropdown-toggle::after {
  display: none !important;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.security {
  position: absolute;
  top: 20px;
  left: 20px;
}

.item-container {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "item item";
}

.items {
  grid-area: item;
}

@media screen and (min-width: 500px) {
  .item-container {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "item item item";
  }
}

@media screen and (min-width: 800px) {
  .item-container {
    width: 100%;
    display: grid;
    gap: 20px;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "item item item";
  }
}